<#@ template language="C#" #>
<#@ import namespace="System.IO"#>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
<#@ include file="../../ZES.Infrastructure/T4/Command.ttinclude" #>
using ZES.Infrastructure.Domain;
using ZES.Interfaces.Domain;

namespace <#= GetNamespace() #>
{
    public class <#= GetFilename() #> : Command   
    {
        public <#= GetFilename() #>() { }
        public <#= GetFilename() #>(string target) 
            : base(target) { }
    }
}