<#@ template language="C#" #>
<#@ import namespace="System.IO"#>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
using ZES.Infrastructure.Domain;
using ZES.Interfaces.Domain;

namespace <#= GetNamespace() #>
{
    public class <#= GetFilename() #> : CommandHandlerBase<<#= GetCommandName() #>, <#= GetRootName() #>>
    {
        public <#=  GetFilename() #>(IEsRepository<IAggregate> repository)
            : base(repository) { }

        protected override void Act(<#= GetRootName() #> <#= GetRootName().ToLower() #>, <#= GetCommandName() #> command) => root.Update(); 
    }
}<#@ include file="../../ZES.Infrastructure/T4/Command.ttinclude" #>